<?xml version="1.0"?>
<config>
  <modules>
    <Straas_Live>
      <version>1.0.0</version>
    </Straas_Live>
  </modules>
  <global>
    <helpers>
      <live>
        <class>Straas_Live_Helper</class>
      </live>
    </helpers>
	<blocks>
	  <live>
		<class>Straas_Live_Block</class>
	  </live>
	</blocks>
	<models>
        <live>
            <!-- This is where we define our model directory -->
            <class>Straas_Live_Model</class>
            <!-- Define a resource to create a custom table -->
            <resourceModel>live_mysql4</resourceModel>
        </live>
         
        <!-- Here's our resource model we'll use to create a database table -->
        <live_mysql4>
            <class>Straas_Live_Model_Mysql4</class>
            <entities>
                <!-- Let's define our table, we'll call it with the baz name, but the real table is foo_bar_baz -->
                <!-- After we define our entity, we can call it with our model by calling foo_bar/baz -->
                <straaslive>
                    <table>straaslive</table>
                </straaslive>
            </entities>
        </live_mysql4>
    </models>
    <events>
        <admin_system_config_changed_section_straas_general>
            <observers>
                <straas_live>
                    <type>singleton</type>
                    <class>Straas_Live_Model_Observer</class>
                    <method>generateToken</method>
                </straas_live>
            </observers>
        </admin_system_config_changed_section_straas_general>
    </events>
  </global>
  <admin>
	<routers>
	  <live>
	    <use>admin</use>
		<args>
		  <module>Straas_Live</module>
		  <frontName>admin_live</frontName>
		</args>
	  </live>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <live module="live">
		<title>Straas Live Video</title>
		<sort_order>100</sort_order>
		<children>
		  <livebackend module="live">
			<title>Live Video Manager</title>
			<sort_order>0</sort_order>
			<action>admin_live/adminhtml_livebackend</action>
		  </livebackend>
		</children>
	  </live>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<live translate="title" module="live">
			  <title>Live</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <livebackend translate="title">
			<title>Straas</title>
		  </livebackend>
			  </children>
			</live>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<live>
		  <file>live.xml</file>
		</live>
	  </updates>
	</layout>
  </adminhtml>
  <default>
    <straas>
        <urls>
        	<base>https://app.straas.net/</base>
            <get_token>api/v1/app/token</get_token>
            <create_live>api/v1/app/lives</create_live>
            <cards_base>https://cta.straas.net/</cards_base>
            <video_cards>api/v1/app/video-cards</video_cards>
        </urls>
        <token>
        	<content>none</content>
        </token>
    </straas>
  </default>
</config> 
